{% extends 'accounts/base.html' %}


{% block title %}
    Index Page
{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4 text-capitalize">Hello, {{  user.username}}!</h1>
        <p class="lead">Welcome to Kamil and Dan's Money Tracker! </p>
        <p>The easiest place to keep track of all of your bank accounts <em class="text-danger"><b>spending</b></em> and <em class="text-success"><b>earnings</b></em>. Now also with a <em class="text-info"> <b>weather tracker!</b> </em></p>
        <hr class="my-4">
        <p>Click here to get started tracking your money</p>
        <a class="btn btn-primary btn-lg" href="{% url 'money-tracker'%}" role="button">Money Tracker</a>
    </div>

{% endblock %}