{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Money Tracker
{% endblock %}

{% block body %}
    <h1 class="display-4 text-capitalize text-info text-center">Welcome to Kamil and Dan's Money Tracker!</h1>
    <h5 class="text-secondary text-center mb-3">Add an account below with a starting balance to view it and keep track of its spending!</h5>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form id="new_bank_form" method="post" action="{% url 'add_bank'%}"  role="form" >
                    <div class="input-group">
                        {% csrf_token %}
                        {{  form.Bank.bankName  }}
                        <input type="text" class="form-control" id="bankName" name="bankName"  placeholder="Add bank name" aria-label="Add bank name" aria-describedby="button-addon2">
                        {{  form.Bank.balance  }}
                        <input type="text" class="form-control" id="balance" name="balance"  placeholder="Balance" aria-label="Balance" aria-describedby="button-addon2">
                        {{ form.Bank.userId }}
                        <input type="hidden" class="form-control" id="userId" name="userId" value = {{ user.id}} aria-label="transactionAmount" aria-describedby="button-addon2"/>
                        {{ form.Bank.startBal}}
                        <input type="hidden" class="form-control" id="startBal" name="startBal" value = 0  aria-label="startBal" aria-describedby="button-addon2"/>
                        <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary"> ADD </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container mt-3 accounts-table">
        {% for bank in banks%}
            {% if user.id  == bank.userId%}
                <div class="row account-row">
                    <div class="col">
                        <div class="row h6"><b>{{ bank.bankName }}</b></div>
                        {% if bank.balance < 0 %}
                            <div class="row text-danger h6"> ${{ bank.balance|floatformat:2 }}</div>
                            {#<div class="row text-danger h6"> {{ user.id }}</div>#}
                        {% else %}
                            <div class="row text-success h6">${{ bank.balance|floatformat:2 }}</div>
                        {% endif %}
                     </div>
                    <div class="col">
                        <div class="row row-buttons justify-content-end">
                            <a href="{% url 'view_account' bank.id %}">
                                <button type="button" class="btn btn-primary ml-1">View</button>
                            </a>
                            <a href="{% url 'delete_account' bank.id %}">
                                <button type="button" class="btn btn-danger ml-1">Delete</button>
                            </a>
                        </div>
                    </div>
                 </div>
                <hr>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}