{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Weather
{% endblock %}
{% block body %}

<body>
    <p class="h1 text-capitalize text-info row justify-content-md-center m-4">Check the weather!</p>
    <section>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12">
                    <form method="POST">
                        {% csrf_token %}
                            <div class="input-group mb-3">
                                {{ form.name }}
                              <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">Add City</button>
                              </div>
                            </div>
                        <div>
                            {% if message %}
                                <div class="{{ message_class }}">{{message}}</div>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-lg-4">
                    <!-- Each city gets its own box, which is why we have a for loop here  -->
                    {% for city_weather in weather_data %}
                    <div class="card m-3 p-2">
                        <article class="media">
                                <div class="m-2">
                                    <img src="http://openweathermap.org/img/w/{{city_weather.icon}}.png" alt="Image">
                                </div>
                                <div class="ml-2">
                                    <!-- Using what we made in the dictionary -->
                                    <p>
                                        <h5 class="card-title">{{city_weather.city}}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">{{city_weather.temperature}} F</h6>
                                        <p class="card-text">{{city_weather.description}}</p>
                                    </p>
                                </div>
                                <!-- Allows us to delete a weather city with a button -->
                                    <a href="{% url 'delete_city' city_weather.city %}">
                                        <svg width="1.2em" height="1.2em" style="position: absolute; right: 0;" viewBox="0 0 16 16" class="bi bi-x mr-3" fill="bg-secondary" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                        </svg>
                                    </a>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
